Onera Satellite Change Detection dataset - Images/
OSCD Train/
OSCD Test/
.CondaPkg/
MAT Files/
cache_files/
Indian Pine HSI/
GT Files/
NIR_HSI_Coffee_DS/
11_KMeans_Pavia/
14_KMeans_Salinas/
Classification Results/
.ipynb_checkpoints/